h4 {
    background-color: mediumpurple;
    color: white;
    width: 50%;
}
h4:hover {
    background-color: white;
    color: mediumpurple;
}
.box {
    max-width: 10vh;
    max-height: 10vh;
    cursor: pointer;
}
div.box:hover {
   background-color: white;
    opacity: 20%;
    box-shadow: .2em .2em 1em 0em;
}
div.box:active {
    background-color: black;
    border: 5em solid crimson;
}

.box:nth-child(1){
    background-color: maroon;
}
.box:nth-child(2){
    background-color: midnightblue;
}
.box:nth-child(3){
    background-color: darkgoldenrod;
}
.box:nth-child(4){
    /*!*background-color: green;*! is covered by div*/
}
.box:nth-child(5){
    background-color: darkorange;
}
.box:nth-child(6){
    background-color: purple;
}
.box:nth-child(7){
    background-color: mediumpurple;
}
.box:nth-child(9){
    background-color: royalblue;
}
.box:nth-child(10){
    background-color: mediumseagreen;
}
.box:nth-child(11){
    background-color: darkolivegreen;
}
