

@media only screen and (max-width: 600px) {

    /*this is for the date and time.*/
    section.everyCard>span:nth-of-type(1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*this is for the word temperature*/
    section.everyCard>span:nth-of-type(2) {
        display: none;
    }
    /*this is for the temperature numbers.*/
    section.everyCard>b:nth-of-type(1) {
       font-size: 2em;
    }
    #map {
        height:400px;
        width: 90%;
        margin: auto 0;

        /*margin: 100px;*/
    }
    /*To keep the border edges the same... */
    .inputFind, .buttonFind, #map, .everyCard{
        border-radius: .5em;
    }
    .everyCard {
        max-width: 90%;
        margin: auto;
        text-align: center;
        background-color: whitesmoke;
    }
    /*this hides the forecast in mobile view*/
    .everyCard:nth-child(2), .everyCard:nth-child(3), .everyCard:nth-child(4), .everyCard:nth-child(5){
        visibility: hidden;
        display: none;
    /*    this gave me so many issues.
     if  i did not put 'display: none', the map would act
     as if the rest of the forecast were displaying.*/
    }
    .searchbarSection {
        max-width: 90%;
        margin: auto auto 1em;
    }
}